.secondPage {
   width: 100%;
   color: #fff;
   display: flex;
   justify-content: space-between;
   padding: 6rem;
   gap: 25px;
}

.dailyTempGraph {
   width: 80%;
   min-height: 500px;
   background-color: rgba(127, 255, 212, 0.1);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.hourlyInfoContent {
   background-color: rgba(0, 0, 0, 0.2);
   height: 80%;
   width: 95%;
   overflow-x: scroll;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 10px;
   border-radius: 5px;
}

.singleHourData {
   width: 10%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.singleHourTemp {
   font-size: 15px;
}

.singleHourBar {
   position: relative;
   width: 6px;
   background-color: rgba(255, 255, 255, 0.7);
   height: 90%;
}

.hourlyInfoContent::-webkit-scrollbar {
   height: 8px;
}

.hourlyInfoContent::-webkit-scrollbar-thumb {
   width: 4px;
   height: 4px;
   border-radius: 100vh;
   background-color: crimson;
}

.singleHourTime {
   font-size: 15px;
}

.dailyAstroStats {
   width: 350px;
   padding: 30px 0;
   background-color: rgba(238, 130, 238, 0.2);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   gap: 15px;
}

.astroData {
   width: 100%;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
}

.riseAndSet {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.astroPic {
   /* width: 80px;
   height: 80px; */
   padding: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.8);
   border-radius: 50%;
}

.astroPic img {
   width: 50px;
   height: 50px;
}

