.nav-bar-wrapper {
   position: fixed;
   z-index: 9;
   display: flex;
   width: 100%;
   background: linear-gradient(to right, rgba(255,255,204,0.1), rgba(255,255,204,0.5));
   /* padding: 55px; */
   height: 75px;
   justify-content: center;
   align-items: center;
   gap: 150px;
   color: white;
}

/* .nav-bar-wrapper .scrolled {
   background-color: ;
} */

.dataTypeWrapper {
   width: 150px;
   font-size: 1rem;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}

.navDate {
   font-size: 1.3rem;
}
