.nav-bar-wrapper {
   position: fixed;
   z-index: 999;
   display: flex;
   width: 100%;
   height: 75px;
   justify-content: center;
   align-items: center;
   gap: 150px;
   color: aliceblue;
   background-color: rgba(19,51,76,0.8);
}

.datatype-wrapper {
   width: 220px;
   font-size: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   gap: 15px;
   padding: 5px 20px;
   border-radius: 20px;
   background-color: rgba(240, 248, 255, 0.2);
}

.datatype-value {
   height: 30px;
   font-size: 20px;
   border-radius: 20px;
}

.nav-date {
   font-size: 1.3rem;
   padding: 5px 20px;
   border-radius: 20px;
   background-color: rgba(240, 248, 255, 0.2);
}
