@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.app {
  height: 200vh;
}

.page-wrapper {
  width: 100%;
  height: 200vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.first-page {
  width: 100%;
  display: flex;
  padding: 6rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
}

.app:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.sunnyApp:before {
  background: url("./assets/BackGs/sunny/MainBg.jpg") no-repeat center/cover;
}

.cloudyApp:before {
  background: url("./assets/BackGs/cloudy/MainBg.jpg") no-repeat center/cover;
}

.foggyApp:before {
  background: url("./assets/BackGs/foggy/MainBg.jpg") no-repeat center/cover;
}

.rainyApp:before {
  background: url("./assets/BackGs/rainy/MainBg.jpg") no-repeat center/cover;
}

.snowyApp:before {
  background: url("./assets/BackGs/snowy/MainBg.jpg") no-repeat center/cover;
}

.systemChange {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: rgba(248, 248, 248, 0.6);
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}
